---
import { SEO } from "astro-seo"
import Header from "@components/NavHeader.astro"
import Footer from "@components/Footer.astro"
import { config } from "@data/config"
import Scripts from "../scripts/js-imports.astro"
const lang = "en"

const ogImage = config.ogImage
const defaultSeo = {
  title: config.seo.defaultTitle,
  description: config.seo.defaultDescription,
  openGraph: {
    basic: {
      title: config.seo.defaultTitle,
      type: "website",
      description: config.seo.defaultDescription,
      image: ogImage,
      url: Astro.url.href,
    },
    image: {
      secureUrl: ogImage,
      alt: config.seo.defaultTitle,
    },
  },
}

const { seo } = Astro.props

const seoObj = { ...defaultSeo, ...seo }
---

<html lang={lang}>
  <head>
    <!-- <img src="og-image.png"/>-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <meta property="og:title" content="Studio Arsenov" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={config.ogImage} />
    <meta property="og:url" content="/logo.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Studio Arsenov" />
    <meta name="twitter:description" content="Studio Arsenov" />
    <meta name="twitter:site" content="studioarsenov.com" />
    <meta name="twitter:image" content={config.ogImage} />
    <meta name="twitter:creator" content="studioarsenov.com" />
    <link rel="icon" type="image/x-icon" href={config.favico} />
    <link rel="stylesheet" href="src/app.css" />
    <SEO
      title={seoObj.title}
      description={seoObj.description}
      openGraph={seoObj.openGraph}
    />

    <style>
      html {
        scroll-behavior: smooth;
      }
      .top-section {
        content-visibility: auto;
        content-intrinsic-size: 1px 2500px;
      }
    </style>

    <meta charset="UTF-8" />
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
    <Scripts />
  </body>
</html>
